.idea/
*.pyc
*.pid
*.cfg
*.db
*.env
.DS_Store
.cache/
settings.json

# Testing
app/coverage
app/.coverage
app/.mypy_cache/
app/.pytest_cache/

# Distribution / packaging
.Python
.python-version

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# virtualenv
.venv
venv/
ENV/
bin/
include/
pip-selfcheck.json
lib64

# Telegram Sessions
*.session
*.session-journal

# Downloaded media items
downloads/
!downloads/.gitkeep
